@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'OamphieVintage';
  src: url('./assets/fonts/OamphieVintage-JpovM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  @apply bg-background text-primary font-body;
}

h1, h2, h3{
  @apply font-titre;
}

/* gradient text */
@keyframes gradientMove {
  0%{
    background-position:0% 50%;
  }
  50%{
    background-position:100% 50%;
  }
  100%{
    background-position:0% 50%;
  }
}

.gradient-text{
  background: linear-gradient(
    90deg,
    #510087,
    #F59E0B,
    #6366F1,
    #510087
  );
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}